<main>
  <div class="c-general">
    <div class="c-superior">
      <div class="c-superior-div">
        <h1 class="c-superior__h1">Creación/edición de productos</h1>
      </div>
    </div>
    <div class="inferior">
      <div class="c-izquierdo">
        <div class="c-izquierdo-form">
          
              <form [formGroup] = "productForm" (submit)="productMe()">
                  <div class="c-izquierdo-form__h3">
                  <h3>Nombre del producto:</h3>
                  </div>
  
                  <div class="c-izquierdo-form__div">
                  <input
                      [(ngModel)] = "product.name"
                      id="name"
                      class="c-izquierdo-form__div__input"
                      type="text"
                      formControlName="name"
                      placeholder="Por ej: Jabón Líquido Con Camomila"
                  />
                  </div>
  
                  <div class="c-izquierdo-form__h3">
                  <h3>Precio:</h3>
                  </div>
  
                  <div class="c-izquierdo-form__div">
                  <input
                      [(ngModel)] = "product.price"
                      id="price"
                      class="c-izquierdo-form__div__input"
                      type="text"
                      formControlName="price"
                      placeholder="Por ej: $11"
                  />
                  </div>
  
                  <div class="c-izquierdo-form__h3">
                  <h3>Descripción:</h3>
                  </div>
  
                  <div class="c-izquierdo-form__div">
                  <input
                      [(ngModel)] = "product.description"      
                      id="description"
                      class="c-izquierdo-form__div__input"
                      type="text"
                      formControlName="description"
                      placeholder="Por ej: Enriquecido con los auténticos aromas del hammam..."
                  />
                  </div>
  
                  <div class="c-izquierdo-form__h3">
                  <h3>Ruta de la imagen:</h3>
                  </div>
  
                  <div class="c-izquierdo-form__div">
                  <input
                      [(ngModel)] = "product.image"     
                      id="image"
                      class="c-izquierdo-form__div__input"
                      type="text"
                      formControlName="image"
                      placeholder="https://www.rituals.com/dw/image/v2/BBKL_PRD/on/demandware.static/-/Sites-rituals-products/default/dwe2066600/images/zoom/1106403_TheRitualofHammamHandWash.png?sw=1000&sh=1000&sm=fit&q=100"
                  />
                  </div>
  
                  <div class="c-izquierdo-form__h3">
                  <h3>Estrellas:</h3>
                  </div>
  
                  <div class="c-izquierdo-form__div">
                  <input
                      [(ngModel)] = "product.stars"   
                      id="stars"
                      class="c-izquierdo-form__div__input"
                      type="text"
                      formControlName="stars"
                      placeholder="5"
                  />
                  </div>
  
                  
                  
                  <div class="c-izquierdo-form__buttonDiv" >   
                    <button class="c-izquierdo-form__buttonDiv__button" type="submit" (click)="guardarProducto()">
                      Guardar
                  </button>
                  </div>
                  <div class="c-izquierdo-form__buttonDiv c-izquierdo-form__buttonDiv--first">
                    <button class="c-izquierdo-form__buttonDiv__button" type="submit" (click)="borrarProducto()">
                      Borrar
                    </button>
                  </div>
                </form>
        
          </div>
      
      
      </div>
    
      <div class="barrita"></div>

      <div class="c-derecho">
        <div class="c-derecho__div">
          <p class="c-derecho__div__p">Preview del producto:</p>
        </div>
  
        <app-product-card [product]="product" [showEdit]="false"></app-product-card>
      </div>
    </div>
    

    <!-- <div class="barrita"></div> -->

    
  </div>
</main>
