*{
    margin: 0px;
    padding: 0px;

}

main{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.c-general{
    width: 1200px;
    height: 699px;
    background: #FFFFFF;
    margin-top: 79px;
    margin-bottom: 82px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.c-superior{
    width: 1200px;
    height: 103px;  

    &-div{
        margin-top: 25px;
        margin-left: 59px;
        width: 756px;
        height: 52px;
           
    }
    
    &__h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.87);    
    }    
}




.c-izquierdo{
    width: 518 + 59px;
    height: 574px;
    display: flex;
    align-content: center;
    justify-content: center;
    

    &-form{
        width: 518px;
        height: 470px;
        margin-left: 59px;
        
        
        &__h3{
            height: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.018em;
            color: #000000; 
            margin-bottom: 12px; 
            margin-top: 22px;          
        }

        &__div{
            width: 518px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #444444;
            box-sizing: border-box;
            border-radius: 4px;
                        


            &__input{
                width: 494px;
                height: 23.14px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 143%;                
                letter-spacing: 0.018em;
                color: #888888;
                border: none;
                outline: none;                
            }
        
        }
    
        &__buttonDiv{
            width: 150px;
            height: 32px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            margin-top: 14px;
            background: #F89F21;
            
            &--first{
                margin-right: 15px;
            }

            
  
            
            &__button{
                width: 126px;
                height: 24px;
                border: none;
                outline: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;    
                letter-spacing: 0.018em; 
                color: #FFFFFF;
                background: #F89F21;
                
                &:hover{
                    cursor: pointer;;
                }
            }

        }
    }
}

.barrita{
    height: 434px;
    width: 0px;
    border: 1px solid #F7A222;
    margin-left: 144.88px;
    margin-top: 32px; 
    
}

.c-derecho{
    width: 620px;
    height: 574px;
    margin-left: 111px;
    margin-top: 32px;
    &__div{
        width: 100%;
        height: 29px;
        
        


        &__p{

        }

    }
}

.inferior{
    display: flex;
}