<footer>
    
   
        <div class="c-footer-up-bg">
            
            <div class="c-footer-up-bg__p">  
                <p>Síguenos en:</p>
            </div> 
        
        </div>        
                
                
                <div class="c-footer-up-bg__redes">
                    <ul>
                        <li class="c-footer-up-bg__redes__li">
                            <a href="" class="c-footer-up-bg__redes__a">Twitter</a>
                        </li>
                        <li class="c-footer-up-bg__redes__li">
                            <a href="" class="c-footer-up-bg__redes__a">Facebook</a>
                        </li>
                        <li class="c-footer-up-bg__redes__li">
                            <a href="" class="c-footer-up-bg__redes__a">Instagram</a>
                        </li>
                        <li class="c-footer-up-bg__redes__li">
                            <a href="" class="c-footer-up-bg__redes__a">TikTok</a>
                        </li>
                    </ul>
                </div>
        
    
        <div class="c-footer-down">
            <div class="c-footer-down__copyright">
                <p>Copyright Shopéame &copy; {{ date | date: 'yyyy' }}</p>
            </div>
        </div>
    
  

    
</footer>