*{
    margin: 0px;
    padding: 0px;
}
    

    .c-footer-up-bg{
        width: 100%;
        height: 70px;
        background-color: #333333;
        display: flex;
        justify-content: center;


        &__p{
            font-size: 14px;
            color: white;
            width: 100%;
            text-align: center;
            font-weight: 500;
            margin-top: 40px;
            letter-spacing: 1.8%;
            line-height: 20.02%;
            font-family: 'inter';
            
        }

        &__redes{
            width: 100%;
            height: 70px;
            background: #333333;
            text-align: center;
            
            &__li{
                list-style: none;
                display: inline;               
            
                &:after{
                    content: " |";
                    color: white;    
                }
            
                &:last-child:after{
                    content: "";   
                }
            } 
            
            &__a{
                font-size: 14px;
                color: white;
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                text-decoration: none;
                font-weight: 700;
                margin-top: 10px;
                font-family: 'Inter';
                letter-spacing: 1.8%;
                line-height: 20.02%;
                
            }        
        }
        
    }
    
    


.c-footer-down{
    height: 60px;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
        
    &__copyright{
        color: white;
        width: 618px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20.02px;
        font-family: 'Inter';
        letter-spacing: 0.018em;
    }
}    