
<div class="container-fluid">  
    <div class="row">
        
        <div class="col-3" style="width: 18rem;" *ngFor="let product of productList">
            <div class="container">
                <app-product-card [product]="product"></app-product-card>      
            </div>
        </div>
    
    </div> 
</div>        