<p-table [value]="productList" styleClass="p-database-responsive-demo">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            Products
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stars</th>
            <th>Edit</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productList>
        <tr>
            <td>{{productList.name}}</td>
            <td><img [src]="productList.image" [alt]="productList.name" width="100" class="p-shadow-4" /></td>
            <td>{{productList.price | currency:'USD'}}</td>
            <td>{{productList.description}}</td>
            <td><star-rating 
                class="c-card__body__stars"
                labelText="{{productList.stars}}"
                labelPosition="right"
                [readOnly]="true"
                [showHalfStars]="true"
                [starType]="'svg'"
                [rating]="productList.stars"></star-rating></td>
            <td>
                <div class="c-card__buttonDiv">
                    <a routerLink="/gestion/{{productList.id}}"><button class="c-card__buttonDiv__button">Edit</button></a>
                </div>
            </td>    
        </tr>
    </ng-template>
    
</p-table>