*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #FFFFFF;
}

.c-bar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__div{
        border-radius: 6px;
        background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo{
            width: 27px;
            height: 27px;
            margin-top: 1px;
        }           
    }
    
    &__h1{
        color: #0C2146;
        width: 186px;
        height: 36px;
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        margin-left: 12px; 
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;       
    
        &:hover{
            cursor: default;;
        }
    }
}


.c-menu {
    background-color:#FFC970;          
    display:flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    justify-content: center;
        
    &__div{
        width: 100px; 
        height: 56px;
        border-radius: 10px;
                  
        &--active{
            background: rgba(235, 242, 255, 0.3);        
        }
    }
    
    &__path{
        fill: #444444;;
        
        &--active{
            fill: rgb(0, 89, 255);     
        }
    }
       
    &-div{
        display: flex;
        justify-content: center;
        text-align: center;    
    
        &__link {
            color:#444444;
            height: 20px;        
            width: 50px;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            line-height: 143%;
            font-family: 'Inter';
            letter-spacing: 0.018em;
    
            &--active{
                color:#00579F;
            }
        }
    }   
}

svg{
    width: 100%;
    margin-top: 8px;
      
}

 