*{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.c-general{
    width: 1200px;
    background: #FFFFFF;
    margin-top: 79px;
    margin-bottom: 82px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-superior{
    height: 153px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    
    &__div{
        width: 430px;
        height: 38px;
        text-align: center;    
        
        &__h1{
            font-size: 24px;
            font-weight: bold;
            line-height: 150%;
            font-family: 'inter';

        }
    }
}

.c-inferior{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
       
    &__bg{
        width: 1140px;
        
        
        &__h3{
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: 2.75%;
            font-style: normal;
            font-family: 'inter';           
        }
    
        &__p{
            font-size: 14px;
            line-height: 21px;
            margin-top: 30px; 
            margin-bottom: 30px;
            letter-spacing: 2.75%;
            font-style: normal;
            font-family: 'inter';   
        }
    }
}