.divBarra{
    width: 200px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444444;
    margin-top: 50px;
}


input{
    width: 176px;
    height: 23.14px;
    border-radius: 4px;
    font-family: 'inter';
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #444444;
    border: none;
    outline-style: none;
}