<form [formGroup]="formGroupSearchForm">
   <div class="divBarra">
    <input (keyup)="buscar($event)" [(ngModel)]='textoDeInput' id="name" type="text" formControlName="name" placeholder="Buscador">
  </div>  
</form>
  