  
    <div class="c-card">
        
        <img class="c-card__img" src="{{product.image?product.image:'https://thumbs.dreamstime.com/b/cantidad-del-hd-de-la-tabla-signo-interrogaci%C3%B3n-patata-estudio-150409774.jpg'}} " alt="Card image cap">
        <div class="c-card__body">
            <h5 class="c-card__body__name">{{product.name}}</h5>
            <h4 class="c-card__body__price">{{product.price}} $</h4>
            <p class="c-card__body__description">{{product.description}}</p> 
            
            <div class="rating">
                <star-rating 
                class="c-card__body__stars"
                labelText="{{product.stars}}"
                labelPosition="right"
                [readOnly]="true"
                [showHalfStars]="true"
                [starType]="'svg'"
                [rating]="product.stars"></star-rating>
           
                <div *ngIf="showEdit" class="c-card__buttonDiv">
                    <a  routerLink="/gestion/{{product.id}}"><button class="c-card__buttonDiv__button">Edit</button></a>
                </div>
            </div>  
        
        </div>
    </div>
  
       