*{
    margin: 0px;
}


.c-card{
    
    width: 259px;
    height: 472px;
    padding-right: 31px;
    
    &__img{
        width: 226px;
        height: 224px;
        margin-left: 3.7px;
        margin-top: 16px;;

    }

    &__body{       
        height: 150px;
        margin-left: 3.7px;            
        
        &__stars{
            font-size: 13px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;            
            color: #5E6366;
          
        }

        &__description{
            margin-top: 8px;
            width: 100%;
            height: 41px;
            font-size: 16px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 143%;       
            letter-spacing: 0.018em;
            color: #787885;            
           
        }
    
        &__name{
            margin-top: 12px;
            width: 227px;
            font-size: 15px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.0275em;
            color: #19191D;
            
        }
    
        &__price{   
            margin-top: 8px;
            width: 227px;
            font-size: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.87);
            
        }
    }

    &__buttonDiv{
        width: 88px;
        height: 32px;
        border-radius: 4px; 
        background: #FFFFFF;
        border: 1px solid #9DC2FF;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;          
        
        &__button{
            width: 64px;
            height: 24px;
            color: #2264D1;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.018em;
            border: none;
            background: #FFFFFF;
            outline-style: none; 
            &:hover{
                cursor: pointer;
            }
        }
    }   
}


.rating{
    display: flex;
    justify-content: space-between;   
}

