<main>
  <div class="c-general">
    <div class="c-superior">
      <div class="c-superior__div">
        <h3 class="c-superior__div__h3">Listado de productos ({{productList.length}})</h3>
      </div>

      <div class="c-botonera">
        
        <div class="botones">
          <div class="c-botonera__g">
            <div (click)="showLista()" [ngClass]="{'listaInvertida': myClass}" class= "c-botonera__g__lista">
             
                <svg
                  width="17"
                  height="14"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path [ngClass]="{'pathListaInvertida': myClass}" class="pathLista"
                    d="M0 8H8V0H0V8ZM0 18H8V10H0V18ZM10 18H18V10H10V18ZM10 0V8H18V0"
                    fill="#444444"
                  />
                </svg>
             
            </div>

            <div (click)="showTabla()" [ngClass]="{'cuadriculaInvertida': myClass}"  class="c-botonera__g__cuadricula">
              
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 17 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path [ngClass]="{'pathCuadriculaInvertida': myClass}" class="pathCuadricula"
                    d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z"
                    
                  />
                </svg>
              
            </div>
          </div>
        </div>   
        
        <app-search-bar (filterEmitter)="filterEmitter($event)">
        </app-search-bar>
      </div>
    </div>

    
    <div class="c-inferior">
      <div class="c-inferior-bg">
        <app-gallery-table *ngIf="this.showTable" [productList]="productList"></app-gallery-table>
        <app-gallery *ngIf="!this.showTable" [productList]="productList"></app-gallery>
      </div>
    </div>
  </div>
</main>
