*{
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.c-general{
    width: 1200px;
    background: #FFFFFF;
    margin-top: 79px;
    margin-bottom: 82px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-superior{
    height: 203px;

    &__div{
        width: 756px;
        height: 52px;
        margin-left: 59px;
        float: left;
        margin-top: 40px;
    
        &__h3{
            margin-top: 14px;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.87);
        }
    }

}

.c-botonera{
    width: 200px;
    height: 88px;
    display: inline-block;
    margin-left: 126px;
    margin-top: 48px;
 
    &__g{    
        
        &__lista{
            float: right;
            width: 68px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
            border-radius: 4px;

            &:hover{
                cursor: pointer;
            }
        }

        &__cuadricula{
            float: right;
            width: 68px;
            height: 36px;
            background: #EDEDED;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &:hover{
                cursor: pointer;
            }
        }
    }

}

    .c-inferior{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 72px;
        
        &-bg{
            width: 1082px;
        
        }
    }    
   


   
.cuadriculaInvertida{
    float: right;
    width: 68px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.listaInvertida{
    float: right;
    width: 68px;
    height: 36px;
    background: #EDEDED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pathLista{
    fill:#444444;
}

.pathCuadricula{
    fill:#787885;
}

.pathCuadriculaInvertida{
    fill:#444444;
}

.pathListaInvertida{
    fill:#787885;
}